@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: inherit;
}

body {
  background: #efbbbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

h1 {
  letter-spacing: 3px;
  background: white;
  border-radius: 50px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
}

h1:hover {
  cursor: pointer;
}

#pokemonContainer {
  background-color: "#fceaff";
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0;
  max-width: 80%;
}

#search-box {
  border-radius: 15px;
  width: 9rem;
  text-align: center;
}

#search-box::placeholder {
  text-align: center;
}

#search {
  border-radius: 15px;
  margin-top: 1vh;
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: default;
}

.pokemon {
  display: flex;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .imgContainer {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .imgContainer img {
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
  width: 130px;
}

.pokemon:hover {
  cursor: pointer;
}
.modal:hover {
  cursor: default;
}

#next,
#back,
#numbers {
  display: inline;
}

#numbers {
  background-color: rgba(0, 0, 0, 0);
}

.skip {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 3px;
}

.pagination-button {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  margin: 3px;
}

#next,
#back {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 60px;
  height: 40px;
  text-align: center;
  margin: 5px;
}

.types {
  display: inline-flex;
  justify-content: center;
  width: 130px;
}

.box {
  display: inline-flex;
  border: 2px solid #a4a4a4;
  border-radius: 5px;
  max-width: 60px;
  width: 50%;
  margin-left: 2px;
  margin-right: 2px;
  justify-content: center;
}

.fire.box {
  background-color: #fd7d24;
  color: #fff;
  text-align: center;
}
.grass.box {
  background-color: #9bcc50;
  color: #212121;
}
.electric.box {
  background-color: #eed535;
  color: #212121;
}
.water.box {
  background-color: #4592c4;
  color: #fff;
}
.ground.box {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
}
.rock.box {
  background-color: #a38c21;
  color: #fff;
}
.fairy.box {
  background-color: #fdb9e9;
  color: #212121;
}
.poison.box {
  background-color: #b97fc9;
  color: #fff;
}
.bug.box {
  background-color: #729f3f;
  color: #fff;
}
.dragon.box {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: #fff;
}
.psychic.box {
  background-color: #f366b9;
  color: #fff;
}
.flying.box {
  background: -webkit-linear-gradient(270deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
}
.fighting.box {
  background-color: #d56723;
  color: #fff;
}
.normal.box {
  background-color: #a4acaf;
  color: #212121;
}
.steel.box {
  background-color: #9eb7b8;
  color: #212121;
}
.ice.box {
  background-color: #51c4e7;
  color: #212121;
}
.dark.box {
  background-color: #707070;
  color: #fff;
}
.ghost.box {
  background-color: #7b62a3;
  color: #fff;
}

.fire.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #fd7d24;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
.grass.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #9bcc50;
  color: #212121;
  margin-bottom: 5px;
}
.electric.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #eed535;
  color: #212121;
  margin-bottom: 5px;
}
.water.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #4592c4;
  color: #fff;
  margin-bottom: 5px;
}
.ground.box.l {
  width: 120px;
  max-width: 120px;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: #212121;
  margin-bottom: 5px;
}
.rock.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #a38c21;
  color: #fff;
  margin-bottom: 5px;
}
.fairy.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #fdb9e9;
  color: #212121;
  margin-bottom: 5px;
}
.poison.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #b97fc9;
  color: #fff;
  margin-bottom: 5px;
}
.bug.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #729f3f;
  color: #fff;
  margin-bottom: 5px;
}
.dragon.box.l {
  width: 120px;
  max-width: 120px;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: #fff;
  margin-bottom: 5px;
}
.psychic.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #f366b9;
  color: #fff;
  margin-bottom: 5px;
}
.flying.box.l {
  width: 120px;
  max-width: 120px;
  background: -webkit-linear-gradient(270deg, #3dc7ef 50%, #bdb9b8 50%);
  color: #212121;
  margin-bottom: 5px;
}
.fighting.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #d56723;
  color: #fff;
  margin-bottom: 5px;
}
.normal.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #a4acaf;
  color: #212121;
  margin-bottom: 5px;
}
.steel.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #9eb7b8;
  color: #212121;
  margin-bottom: 5px;
}
.ice.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #51c4e7;
  color: #212121;
  margin-bottom: 5px;
}
.dark.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #707070;
  color: #fff;
  margin-bottom: 5px;
}
.ghost.box.l {
  width: 120px;
  max-width: 120px;
  background-color: #7b62a3;
  color: #fff;
  margin-bottom: 5px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}
.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.imgContainer {
  margin: auto;
}
.imgContainer.l {
  display: flex;
  width: 25vw;
  height: 25vw;
  margin: inherit;
  margin-left: 1vw;
  flex-direction: column;
  align-items: center;
}

.imgContainer.l,
.info.l {
  margin-top: 70px;
}

.img.l {
  height: 25vw;
}

.modal.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: left;
}
.modal {
  position: absolute;
  top: 12%;
  width: 80%;
  margin-left: 0;
  background-color: #eee;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info.l {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #de7878;
  height: fit-content;
  width: 53vw;
  min-width: 370px;
  border-radius: 20px;
}

.title {
  display: inline-flex;
  height: fit-content;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.name.l,
.id.l {
  display: flex;
  margin: 0;
  align-items: center;
}

.name.l {
  width: fit-content;
}

.column-1 {
  float: left;
  margin-right: -100%;
  width: 49.22%;
}

.column-2 {
  float: left;
  margin-right: -100%;
  width: 49.22%;
  margin-left: 50.7825%;
}

li {
  list-style-type: none;
  text-align: start;
  margin-bottom: 20px;
}

.attribute {
  color: #fff;
  font-size: 1.2rem;
}

.value {
  margin-top: 20px;
  font-size: 1.5rem;
}

.type.l {
  width: 260px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: -50px;
}
.type.l.evo {
  width: 100%;
  max-width: 260px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: -50px;
}

.front {
  display: flex;
}
.imgContainer.l.evo {
  width: 15vw;
  height: 15vw;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 60px;
  justify-content: center;
}

.img.l.evo {
  width: 15vw;
  height: 15vw;
  margin-bottom: 15px;
}

.evolutions {
  display: flex;
  background-color: cornflowerblue;
  border-radius: 20px;
  align-items: center;
  margin-top: 20px;
  width: 79vw;
  justify-content: center;
  flex-direction: column;
}

.evo.box {
  border: none;
  display: inline-flex;
  justify-content: center;
  width: fit-content;
  max-width: 1000px;
  flex-wrap: wrap;
  align-items: center;
}

.evo.box.e,
.evo.box.f {
  flex-direction: column;
}

.evolutions.l.e {
  flex-wrap: wrap;
}

h3 {
  display: flex;
}

.name {
  display: block;
}

svg {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: -60px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}

.evolution-1,
.evolution-2,
.evolution-3,
.evolution-1-e,
.evolution-2-e,
.evolution-3-e,
.evolution-4-e,
.evolution-5-e,
.evolution-6-e,
.evolution-7-e,
.evolution-8-e,
.evolution-1-f,
.evolution-2-f,
.evolution-3-f,
.evolution-4-f,
.evolution-5-f,
.evolution-6-f,
.evolution-7-f,
.evolution-8-f {
  min-width: 200px;
}

.modal.pokemon.pokemon-133-l > .evolutions.l.e > .evo.box > .evo.box.e,
.modal.pokemon.pokemon-133-l > .evolutions.l.e > .evo.box > .evo.box.f {
  margin-inline: 15px;
}

@media (max-width: 950px) {
  h3 {
    margin-bottom: 30px;
  }
  .imgContainer.l {
    width: 50vw;
    height: 50vw;
  }

  .img.l {
    height: 50vw;
  }

  .modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    min-width: 350px;
    align-content: center;
  }
  .hidden {
    display: none;
  }
  .info.l {
    margin-top: 90px;
    float: left;
  }

  .column-1 {
    margin-left: -10px;
  }

  .column-2 {
    margin-left: 45.7825%;
  }

  .evolutions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: cornflowerblue;
    border-radius: 20px;
    width: 53vw;
    min-width: 370px;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
  }

  .front {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .evo.box {
    flex-direction: column;
    border-top: 30px;
    margin-bottom: 20px;
    width: 75vw;
    display: flex;
    align-content: center;
  }

  .imgContainer.l.evo {
    height: 25vw;
    width: 25vw;
  }

  .img.l.evo {
    height: 25vw;
    width: 25vw;
  }
  svg {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    transform: rotate(90deg);
  }
  .evo.box.e,
  .evo.box.f {
    flex-direction: row;
    margin-inline: 15px;
  }
  .evo.box.e > .imgContainer.l.evo,
  .evo.box.f > .imgContainer.l.evo {
    width: 20vw;
    height: 20vw;
    margin-inline: calc(30px - 1vw);
    margin-top: 25px;
  }

  .type.l.evo {
    max-width: 115px;
    width: max-content;
  }
}

.hidden {
  display: none;
}
